*{
    margin:0px;
    padding:0px;

}
.login{
    border:1px solid white;
    padding: 60px;
    height:1000px;
    margin-left:1150px;
    margin-top:170px;
    width:700px;
    border-radius: 10%;
    background-color: white;
   
  

    
}
.login h1{
    font-family:'Times New Roman', Times, serif;
    color:black;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
   
}
.login input{
    border:1px solid black;
    width: 600px;
    height: 25px;
    margin:25px;
    border-radius: 5px ;
    padding:25px;
    font-size: larger;
}
input>  placeholder-shown{
    font-size: 20px;
}
.another{

    padding: 35px;
    margin-top: 50px;
 
}
button{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 22px;
    background-color: red;
    width: 620px;
    font-size: x-large;
    padding: 25px;
    font-weight: bolder;
    color: white;
 
}
.login h6{
    font-size: 30px;
    margin:30px;
    text-align: center;
}
.yes1{
    margin-top: 50px;
 
}
.yes {
    margin-top: 40px;
    font-weight:normal;
   
    font-size: 20px;
}
.yes a{
    font-size: 30px;
    display: flex;
     color: red;
    justify-content: center;
    
}
.another h3{
    display: flex;
    justify-content: center;
    font-size: 28px;
}
.another span{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
