/* Base Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.nav_logo {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav_logo span {
  color: red;
  font-size: 2.5rem;
  margin-right: 10px;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.nav_list {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.nav_list a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
    padding: 10px 35px;
}

.nav_list a:hover {
  color: red;
  transform: scale(1.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav_list {
    flex-direction: column;
    width: 100%;
    display: none;
    margin-top: 10px;
  }

  .nav_list.open {
    display: flex;
  }

  .nav_list a {
    margin: 10px 0;
    font-size: 1.1rem;
  }
}
