.list1 a{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    color: white;
    margin:20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.list1 a:hover{
    transform: scale(1.1);
    color:red;
}
.list2 a{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    color: white;
    margin:20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.list2 a:hover{
    transform: scale(1.1);
    color:red;
}
.list3 a{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    color: white;
    margin:20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.list3 a:hover{
    transform: scale(1.1);
    color:red;
    
   
}
.list4 a{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    color: white;
    margin:20px;
    transition: scale 0.3s ease, box-shadow 0.3s ease;
}
.list4 a:hover{
    transform: scale(1.1);
    color:red;
}
.list5 a{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    color: white;
    margin:20px;
    transition: scale 0.3s ease, box-shadow 0.3s ease;
}
.list5 a:hover{
    transform: scale(1.1);
    color:red;
}
.list6 a{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    color: white;
    margin:20px;
    transition: scale 0.3s ease, box-shadow 0.3s ease;
}
.list6 a:hover{
    transform: scale(1.1);
    color:red;
}
.recipe-container{
    display: flex;
    width: 100%;
    height:100%;
    margin:40px;
    gap:80px;
    justify-content: center;

   
    
}
.list1 ,.list2,.list3,.list4,.list5,.list6{
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    justify-content: first baseline;
    border-left: white 1px solid;

}
.heading1 h1,.heading2 h1,.heading3 h1,.heading4 h1,.heading5 h1,.heading6 h1{
    font-size: xx-large;
    color: white;
    margin: 20px;
   
    font-weight: 1000;
}